ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    float:right;
    width:100px;
    margin:0;
    padding:0;
    text-align:center;
}

li a {
    display:block;
    padding:5px 10px;
    height:100%;
    color:#FFF;
    text-decoration:none;
    border-right:1px solid #FFF;
}


li a:hover {
    background-position:50px 0;
}

body {
    background: white url("images/2.png") ;
}

.main_block {
    text-align: center;
    padding: 50px 50px;
    color: #111111
}
h2 {
    color: #111111
}