{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/demo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style2.css' %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>KT4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Fullscreen Background Image Slideshow with CSS3 - A Css-only fullscreen background image slideshow" />
        <meta name="keywords" content="css3, css-only, fullscreen, background, slideshow, images, content" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <script src="static/blog/modern.js"></script>

    </head>
    <body id="page">
            <ul>
            <li><a href="#"class="glyphicon glyphicon-envelope"><h4>Contact</h4></a></li>
            <li><a href="https://github.com/thanhkhue/KT4" class="glyphicon glyphicon-globe"><h4>GitHub</h4></a></li>
            <li><a href="blog.html" class = "glyphicon glyphicon-pencil"><h4>Blog</h4></a></li>
            <li><a href="#" class="glyphicon glyphicon-home"><h4>Home</h4></a></li>

        </ul>

        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>KT4</h3></div></li>
            <li><span>Image 02</span><div><h3>KT4</h3></div></li>
            <li><span>Image 03</span><div><h3>KT4</h3></div></li>
            <li><span>Image 04</span><div><h3>KT4</h3></div></li>
            <li><span>Image 05</span><div><h3>KT4</h3></div></li>
            <li><span>Image 06</span><div><h3>KT4</h3></div></li>
        </ul>


        <div class="main_block">
        <div class="container">
            <div class="row">
                <div class="main_block_text col-md-6 col-md-push-3 col-sm-10 col-sm-push-1">
                    <h2>
                    <p class="color:#white">
                    We are a team of talented people with big ideas and creative minds. We are here to make your life better.
                    </p>
                    </h2> 
                </div>
            </div>
        </div>
</div>
    </body>
</html>