{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<script src="static/blog/index.js"></script>
<header>
    <title>KT4</title>
</header>
<body>
<ul>
    <li><a href="contact.html"class="glyphicon glyphicon-envelope"><h4>Contact</h4></a></li>
    <li><a href="https://github.com/thanhkhue/KT4" class="glyphicon glyphicon-globe"><h4>GitHub</h4></a></li>
    <li><a href="blog.html" class = "glyphicon glyphicon-pencil"><h4>Blog</h4></a></li>
    <li><a href="#" class="glyphicon glyphicon-home"><h4>Home</h4></a></li>

</ul>
<div class="main_block">
    <header>
        <h1>About us</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="main_block_text col-md-6 col-md-push-3 col-sm-10 col-sm-push-1">
                <h2 class="color:#white">We are a team of talented people with big ideas and creative minds. We are here to make your life better.</h2> 
            </div>
        </div>
    </div>
</div>
</body>
</html>